/Alamo-CLI.dll
/args.txt``
/awcache.json
/bin
/bink2w64.dll
/binkw32.dll
/build.bat
/build.cfg
/charge
/dataPath
/datassembler_regret_v2.exe
/EAW Terrain Editor.exe
/FolderFilter.flt
/Galaxy_Conquest_Tool_v2
/GCEditor.exe
/Hardpoint Generator
/I_DISPLAY_BACK.tga
/I_GALACTIC_DASHBOARD_SKIRMISH_REBEL.png
/I_TOOLTIP_BACK.TGA
/logfile.txt
/Menu_Video
/ModVerify.exe
/ModVerifyResults
/mss32.dll
/mss64.dll
/MtCommandbarIconBrowser.exe
/PerceptionFunctionG.dll
/PerceptionFunctionR.dll
/PerceptionFunctionT.dll
/perception_check.exe
/PlanetPlacementTool.exe
/Raw
/Raw Videos
/Skyboxes.zip
/tbbR.dll
/_Audio_Drivers.txt
/_Except.txt
/_GraphicsInit.txt
/_warn_message_popup.txt
Data/Art/Movies/Binked/HRIntroVideo.bik
Data/Art/Movies/Binked/Menu_Intro.bik
Data/Art/Movies/Binked/Menu_Loop.bik
Data/Art/Movies/Binked/Not_An_Easter_Egg.bik
Data/Art/Movies/Binked/UNSC_INTRO.bik
Data/RESOURCES/GUIDIALOG/.vs/ProjectSettings.json
Data/RESOURCES/GUIDIALOG/.vs/slnx.sqlite
Data/RESOURCES/GUIDIALOG/.vs/VSWorkspaceState.json
Data/RESOURCES/GUIDIALOG/.vs/GUIDIALOG/FileContentIndex/5b5c7d30-bdd2-4bce-96d5-ec256bbd3fe5.vsidx
Data/RESOURCES/GUIDIALOG/.vs/GUIDIALOG/FileContentIndex/6abaf481-088a-4440-8372-fc660871c432.vsidx
Data/RESOURCES/GUIDIALOG/.vs/GUIDIALOG/v17/.wsuo
Data/RESOURCES/GUIDIALOG/.vs/GUIDIALOG/v17/Browse.VC.db
Data/RESOURCES/GUIDIALOG/.vs/GUIDIALOG/v17/DocumentLayout.json
Data/RESOURCES/GUIDIALOG/.vs/gui/FileContentIndex/1357a53c-1aae-48bf-9a7b-a6d235289c54.vsidx
Data/RESOURCES/GUIDIALOG/.vs/gui/FileContentIndex/1424bb41-ed5e-4703-93a3-36f28faaaae8.vsidx
Data/RESOURCES/GUIDIALOG/.vs/gui/FileContentIndex/db410067-9201-4274-a8f4-c171c44a9dd0.vsidx
Data/RESOURCES/GUIDIALOG/.vs/gui/v17/.suo
Data/RESOURCES/GUIDIALOG/.vs/gui/v17/Browse.VC.db
Data/RESOURCES/GUIDIALOG/.vs/gui/v17/DocumentLayout.backup.json
Data/RESOURCES/GUIDIALOG/.vs/gui/v17/DocumentLayout.json
Data/RESOURCES/GUIDIALOG/.vs/gui/v17/Solution.VC.db
Data/RESOURCES/GUIDIALOG/gui.sln
Data/RESOURCES/GUIDIALOG/gui.vcxproj.filters
Data/RESOURCES/GUIDIALOG/gui.vcxproj
Data/RESOURCES/GUIDIALOG/RCa03212
Data/RESOURCES/GUIDIALOG/RCa52908
Data/RESOURCES/GUIDIALOG/RCa51588
Data/RESOURCES/GUIDIALOG/gui.vcxproj.user
Data/RESOURCES/GUIDIALOG/GUIDIALOGS.APS
